.login {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.formBtn {
  border-top: 1px solid $gray_500;
  border-bottom: 1px solid $gray_500;

  gap: 8px;

  padding-top: 8px;
  padding-bottom: 8px;

  width: 100%;
  display: flex;

  button,
  a {
    width: 100%;
  }
}
