.signup {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.signUp_calendar {
  width: 100%;

  li {
    display: flex;

    div {
      @include layoutCenter();

      cursor: pointer;
      width: calc(100% / 7);

      p:hover {
        border-radius: 4px;
        color: #fff;
        background-color: $blue_500;
      }

      p {
        width: 100%;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
